.mediamosa-ck-two-column {
}

.mediamosa-ck-two-column-left {
  float: left;
  width: 55%;
}

.mediamosa-ck-two-column-right {
  float:right;
  width:44.99%;
}

.mediamosa-ck-two-column-left .mediamosa-ck-two-column-wrapper {
  padding-right:10px;
}

.mediamosa-ck-three-column {
}

.mediamosa-ck-three-column-left {
  float: left;
  width: 25%;
}

.mediamosa-ck-three-column-middle {
  float: left;
  width: 34.99%;
}

.mediamosa-ck-three-column-right {
  float:right;
  width:40%;
}

.mediamosa-ck-three-column-left .mediamosa-ck-three-column-wrapper,
.mediamosa-ck-three-column-middle .mediamosa-ck-three-column-wrapper {
  padding-right:10px;
}

/*
CK-Tabs.
*/

ul.mediamosa-ck-tab, .mediamosa-ck-tabs {
  position: relative!important;
  right: auto!important;
}

div.mediamosa-ck-tabs {
  margin-top: 0px;
}

.mediamosa-ck-tab-content {
  clear: both;
}

.tao ul.mediamosa-ck-tabs li:first-child {
  border-radius:5px 0px 0px 0px;
  -moz-border-radius:5px 0px 0px 0px;
  -webkit-border-radius:5px 0px 0px 0px;
}

.tao ul.mediamosa-ck-tabs li:last-child {
  border-radius:0px 5px 0px 0px;
  -moz-border-radius:0px 5px 0px 0px;
  -webkit-border-radius:0px 5px 0px 0px;
}

/*
CK popup
*/
div.mediamosa-ck-popup {
  display: block;
  position: absolute;
  z-index: 10;
  width: 100%;
}

fieldset.mediamosa-ck-popup {
}

div.mediamosa-ck-icon-close {
  right: -7px;
  top: -7px;
  position: absolute;
  z-index: inherit;
  cursor: pointer;
}

div#media-browser-page div.views-widget {
  min-width: 100px;
}

.view-mediamosa-asset-search .views-exposed-form .views-exposed-widget {
  padding: .5em 0 0 0;
}

.view-mediamosa-asset-search .views-exposed-widget label {
  margin: 0 5px 0 5px;
}