.mediamosa-ck-two-column {
}

.mediamosa-ck-two-column-left {
  float: left;
  width: 65%;
}

.mediamosa-ck-two-column-right {
  float:right;
  width:34.99%;
}

.mediamosa-ck-two-column-left .mediamosa-ck-two-column-wrapper {
  padding-right:10px;
}

.mediamosa-ck-three-column {
}

.mediamosa-ck-three-column-left {
  float: left;
  width: 25%;
}

.mediamosa-ck-three-column-middle {
  float: left;
  width: 34.99%;
}

.mediamosa-ck-three-column-right {
  float:right;
  width:40%;
}

.mediamosa-ck-three-column-left .mediamosa-ck-three-column-wrapper,
.mediamosa-ck-three-column-middle .mediamosa-ck-three-column-wrapper {
  padding-right:10px;
}

/*
CK-Tabs.
*/

#mediamosa-ck-tabs, .mediamosa-ck-tabs {
  position: relative!important;
  right: auto!important;
}

#mediamosa-ck-tabs {
  margin-top: 0px;
}

.mediamosa-ck-tab {
  clear: both;
}

/*
.mediamosa-ck-tabs #mediamosa-ck-tabs {
  clear: both;
  height: 20px;
  overflow: visible;
  padding-left: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #d9d9d9;
}

.mediamosa-ck-tabs #mediamosa-ck-tabs li {
  float: left;
  margin-right: 5px;
}

.mediamosa-ck-tabs #mediamosa-ck-tabs li.active {
  border-top: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  border-bottom: 1px solid #fff;
  background: #fff;
}

.mediamosa-ck-tabs #mediamosa-ck-tabs li a {
  display: block;
  color: #000;
  font-size: 12px;
  padding: 13px 15px;
}

.mediamosa-ck-tabs #mediamosa-ck-tabs li.active a {
  padding: 12px 14px 12px 14px;
  border-bottom: 1px solid #fff;
}

.mediamosa-ck-tabs .mediamosa-ck-tab {
  border-top: 7px solid;
  border-bottom: 7px solid;
  border-left: 6px solid;
  border-right: 6px solid;
}

.mediamosa-ck-tabs .mediamosa-ck-tab h2 {
  margin-bottom: 0;
  padding-left: 27px;
  color: #8e8e8e;
  border-bottom: 6px solid;
  font-size: 18px;
  font-weight: normal;
}

.mediamosa-ck-tabs .mediamosa-ck-tab table {
  width: 100%;
  border-collapse: separate;
}

.mediamosa-ck-tabs .mediamosa-ck-tab table tr td {
  vertical-align: top;
  padding: 9px;
  font-size: 12px;
  border-collapse: collapse;
  border-top: 1px solid;
  border-bottom: 1px solid;
  background: #fff;
}

.mediamosa-ck-tabs .mediamosa-ck-tab table tr td:first-child {
  color: #000;
}
*/