/* @todo: optimize code below */

.view-mediamosa-browser .col-1,
.view-mediamosa-browser .col-2 {
  padding: 30px;

}

.view-mediamosa-browser .views-field-title {
  font-size: larger; 
  text-align: left; 
}

.view-mediamosa-browser .views-field-body {
  font-style: italic;
}
.view-mediamosa-browser .views-field-created,
.view-mediamosa-browser .views-field-name {
  font-style: italic; 
  font-size: smaller; 
  color: #999;
}

.view-mediamosa-browser .views-field-field-mediamosa-videofile-embed {
  margin: 0.5em 0.5em 0.5em 0em;
  float: left; 
  padding-right: 5px;
}
.view-mediamosa-browser .views-field-field-mediamosa-videofile-embed img {
  border: 5px solid #efefef;
  -moz-border-radius: 5px;
}
